.box1{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: tomato;
    position: sticky;
    top: 5px;
}
.box2{
    color: rgb(30, 158, 233);
    border: 1px solid;
    height: 80px;
    width: 80px;
    background-color: rgb(30, 158, 233);
    position: absolute;
    top: 100px;
    left: 100px;
}
.box2:hover{
    color: black;
}