a:link{
    color: lawngreen;
}
a:visited{
    color: grey;
}
a:hover{
   color: tomato;
}
button:hover{
    color:  red;
}

li:nth-child(odd){
    background-color: rgb(117, 193, 168);
}li:nth-child(even){
    background-color: rgb(150, 210, 190);
}