body {
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(160, 159, 237);
}

form {
    background-color: rgb(15, 14, 14);
    text-align: center;
    max-width: 450px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px hsla(0, 1%, 37%, 0.3);
}

#textbox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(259, 75%, 78%, 0.3);
    border-radius: 4px;
    margin-bottom: 5px;
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

button{
margin-top: 5px;
font-size: 1.5em;
border-radius: 5px;
padding: 5px 15px;
color:rgb(255, 255, 255);
cursor: pointer;
font-weight: bold;
}

button:hover{
    background-color: rgb(164, 164, 255);
}

#result{
    font-size: x-large;
    font-weight: bold;
}