 #countlabel{
    display: block;
    text-align: center;
    font-size: 8em;
    font-family: Helvetica;
 }
 #btncontainer{
    text-align: center;
 }
 .btns{
    padding: 10px 20px;
    font-size: 1.5em;
    border: 2px solid white ;
    background-color: rgb(80, 153, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
 }

 .btns:hover{
    background-color: rgb(13, 97, 215);
 }